header{
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    color: aliceblue;
    text-align: center;
    padding: 10px;
    background-color: brown;
    text-align: center;
}
.bo{
    background-color: rgb(129, 11, 6);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-duration: 0.6s;
    margin: 0px 700px; 
}